html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    max-width: 390px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 370px;

    &__input {
        border: solid;
        border-radius: 10px 10px 0 0;
        border-color: rgb(0, 166, 255);
        padding: 10px;
    }

    &__button {
        background-color: rgb(0, 166, 255);
        border-radius: 0 0 10px 10px;
        border: none;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
}

.weather {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 370px;
    margin-top: 10px;

    &__data {
        background-color: rgb(250, 250, 250);
        border-radius: 10px;
        padding: 10px;
        opacity: 0;
        animation: animation 3s forwards;

        &__city {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }

        &__state {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
        }

        &__block {
            display: flex;
            margin: 20px auto;
            justify-content: space-between;
            width: 320px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            // background-color: rgb(240, 240, 240);
            border-radius: 10px;
            padding: 10px;
            width: 150px;
        }

        &__header {
            margin: 5px auto;
            font-size: 14px;
            font-weight: 700;
            color: rgb(50, 50, 50);
            text-align: center;
        }

        &__footer {
            margin: 5px auto;
            font-size: 18px;
            font-weight: 400;
            color: rgb(85, 85, 85);
        }
    }

    &__error {
        color: rgb(255, 0, 0);
        font-size: 18px;
        font-weight: 500;
        margin: 0 auto;
    }
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}